/*main*/

body{
	z-index: 0;
	background-image: url(../images/land.jpg);
	background-position: center;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.flex-body {
	display: flex;
	justify-content: center;
	margin-top: 76px;
}

.main-box {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
}

.column-box {
	display: flex;
	flex-direction: column;
}

.small-content {
	flex:2 ;
}

section {
	flex: 1 100%;	
	box-shadow: 1px 1px 8px 0px;
	border-radius: 4px;
	padding: 10px;
	margin: 20px;
}

.justify-center {
	justify-content: center;
}

.justify-around {
	justify-content: space-around;
}

.justify-between {
	justify-content: space-between;
}

/* layout */

nav.menu-commun{
	margin-bottom: 30px;
	display: flex;
	position: fixed;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
    top: 0;
    left: 0;
    border: none;
}

div.dropdown.bouton960px{
	display: none;
	margin: 20px;
}

div.bouton-co-deco > button.btn.btn-primary.dropdown-toggle{
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgb(236,159,11)
}

div.dropdown.orange-grey-style > button{
	background-color: transparent;
	border-color: rgb(236,159,11);
	border-radius: 0;
}

div.dropdown.orange-grey-style.open > button{
	background-color: rgb(236,159,11);
	border-color: white;
}

div.dropdown > ul.dropdown-menu{
	margin: 0;
	border-color: white;
	top: 32px;
	border-radius: 0;
	background-color: rgb(236,159,11);
}

div.dropdown.bouton-co-deco > ul.dropdown-menu{
	top: 27px;
}

div.dropdown > ul.dropdown-menu > li > a{
	color: white;
}

div.dropdown > ul.dropdown-menu > li:hover > a{
	color: black;
}

ul.dropdown-menu .divider{
	background-color: white;
}

span.glyphicon.glyphicon-th-large{
	color: rgb(236,159,11);
}

div.dropdown.open span.glyphicon.glyphicon-th-large{
	color: white;
}

ul.dropdown-menu.dropdown-menu-right{
	right: 16px;
}

nav > a#logo{
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	color: orange;
	font-family: "saucer_bbregular";
	font-size: 40pt;
	width: 120px;
}

ul.menu-nav{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	padding-left: 7px;
}

li{
	list-style: none;
	margin-right: 20px;
}

li:nth-child(5){
	margin-right: 7px;
}

li:hover{
	background-color: white;
}

ul.dropdown-menu > li{
	margin-right: 0;
}

.menu-nav button{
	width: 100px;
	border-color: #c7801b;
	background-color: #fd9c11;
}

.menu-nav button.btn-lg{
	width: 150px;
}

button.btn.btn-primary.dropdown-toggle{
	margin: 0;
	padding: 3px;
	background-color: transparent;
	border-color: white;
}

div.dropdown{
	display: inline-block;
	width: 120px;
}

span.glyphicon.glyphicon-cog{
	color: lightgreen;
}

span.glyphicon.glyphicon-off{
	color: red;
}

@media screen and (max-width: 992px){
	nav > a#logo , ul.menu-nav , div.dropdown{
		display: none;
	}

	div.dropdown.bouton960px{
		display: inline-block;
	}
}

/* 1v1 */



/* accueil */



/* attaque */



/* Bonus */



/* compte */



/* compte perso */



/* compte publique */



/* connecter */



/* créer un compte */

#section-creer-C {
	padding-right: 20px;
	padding-left: 20px;
}

/* défense */



/* events */



/* guildes */



/* GvG */



/* jouer */

h1.mode{
	margin-top: 20vh;
	font-family: "saucer_bbregular";
	font-size: 3em;
	color: black;
}

a div{
	height: 100vh;
}

a:nth-child(2) div{
	background-color: #3339ED;
}

a:nth-child(2):hover div{
	background-color: #2e33d4;
}

a:nth-child(3) div{
	background-color: #33EDED;
}

a:nth-child(3):hover div{
	background-color: #2ed4d4;
}

a:nth-child(4) div{
	background-color: #64ED33;
}

a:nth-child(4):hover div{
	background-color: #59d42e;
}

a:nth-child(5) div{
	background-color: #EDE133;
}

a:nth-child(5):hover div{
	background-color: #d4c92e;
}

a:nth-child(6) div{
	background-color: #ED9033;
}

a:nth-child(6):hover div{
	background-color: #d4812e;
}

a:nth-child(7) div{
	background-color: #ED3333;
}

a:nth-child(7):hover div{
	background-color: #d42e2e;
}

form div label{
	color: white;
}

@media screen and (max-width: 991px){
	h1.mode{
		margin-top: 0;
		padding-top: 20vh;
	}
}

/* ladder */



/* layout */



/* liste guildes */



/* propositions admin */



/* questions */



/* solo */



/* succes */



/* succes connection */

.h1-choix-theme {
	text-align: center;
}

.section-choix-theme {
	height: 100px;
	-webkit-transition: height 2s;
	transition: height 0.5s;
	overflow: hidden;
}

.section-choix-theme:hover {
	height: 40vh;
}

.description-choix-theme {
	margin-left: 30px;
	margin-right: 30px;
}

.section-choix-theme .description-choix-theme , .section-choix-theme .validation-choix-theme {
	display: none;
}

.section-choix-theme:hover .description-choix-theme , .section-choix-theme:hover .validation-choix-theme {
	display: inline-block;
}

/* couleurs */

.color-lightblue {
	background-color: rgb(54, 229, 221);
}

.color-paleyellow {
	background-color: rgb(255, 231, 171);
}

.color-green {
	background-color: rgb(135, 228, 162);
}

.color-red {
	background-color: rgb(215, 71, 60);
}

.color-orange {
	background-color: rgb(233, 162, 41);
}
